[Unit]
Description=OpenCanary_Service
After=multi-user.target

[Service]
Type=idle
PIDFile = /root/env/bin/opencanaryd.pid
ExecStart=/root/env/bin/opencanaryd --start
ExecStop=/root/env/bin/opencanaryd --stop
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=opencanary.service
