[Unit]
Description=OpenCanary Service
After=multi-user.target network.target

[Service]
Type=idle
ExecStart=/root/env/bin/opencanaryd --start
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=opencanary.service
